 body {
      background-color: rgb(28, 26, 26);
      color: aliceblue;
      font-family: Arial;
    }
    .title {
    font-size: 30px;
    font-weight: bold;
    }
    .move-icon {
      height: 50px;
      background-color: transparent;
    }
    
    .move-button {
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      cursor: pointer;
      margin: 10px;
    }

    .your-result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px
    }

    .your-score {
      margin-top: 50px;
    }
    .reset-button {
      background-color: red;
      padding: 8px 30px;
      border: none;
      font-size: 15px;
      cursor: pointer;
      font-weight: 15px;
    }
