body {
    margin: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }

    .display {
      padding-bottom: 20px;
      font-size: 30px;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      
    }

    .buttons {
      border: none;
      font-size: 25px;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      background-color: rgb(117, 117, 119);
      cursor: pointer;
    }

    .clear-button {
      border-radius: 50px;
      font-size: 35px;
      width: 100px;
      height: 50px;
      background-color: rgb(117, 117, 119);
      cursor: pointer;
    }

    .side-buttons {
      border: none;
      font-size: 25px;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      background-color: rgb(255, 149, 0);
      cursor: pointer;
    }
    .Calculator-container {
     text-align: center;
     width: 90%;
     
    }
